<!doctype html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SYFF2DF2HE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SYFF2DF2HE',  {'user_id': 'FanFan1'});
</script>

<title>Google Analytic Testing Site</title>



</head>
<body>

    {% include 'navbar.html' %}
    {% block content %}
    This is base.html
    {% endblock%}
</body>
</html>